/**
Commons
*/

body {
    background: #fff;
    color: #3c3c3b;
    font-size: 22.85px;
    line-height: 27px;
    font-family: 'MerriweatherLight';
    overflow-x: hidden;
}

.container{
	max-width: 1160px;
}
.first:first-child{
	padding-left: 0;
	margin-left: 0;
}
.last:last-child{
	padding-right: 0;
	margin-right: 0;
}
a{
	color: #e94061;
}
img{
	max-width: 100%;
	height: auto;
}

.hide-md{
	display: block!important;
}
.show-md{
	display: none!important;
}
.hide-xs{
	display: block!important;
}
.show-xs{
	display: none!important;
}

.divider{
	line-height: 0;
	font-size: 0;
}
.ps-relative{
	position: relative;
}
