/**
All Transitions
*/
a,input,textarea{
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.scale{
	transform: scale(1.1);
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
}

/**
All Hovers
*/
a:hover{
	text-decoration: none;
}
.hdr-quick-contact a:hover,
.ftr-col ul li a:hover{
	color: #e94061;
}
.entry-content a:hover{
	color: #218878;
}
nav.main-nav ul li a:hover,
nav.main-nav ul li.current-menu-item a{
	color:#e83659;
}
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus{
	border-color: #d1cbcb;
}
input[type="submit"]:hover{
	color: #ddd5d7;
}
.main-nav ul li.menu-item-has-children ul li a:hover{
		color: #eaeae6;
}