.footer-top{
    width:100%;
    position: absolute;
    top: 0;
    bottom: 0;
    padding-top: 75px;
    z-index: 99;
}

.footer-top-inner{
	padding: 0 0 65px;
}
.ftr-col{
	color: #47384d;
    font-family: 'MerriweatherItalic';
    font-size: 19.85px;
    line-height: 28px;
}
.ftr-col{
    font-family: 'MerriweatherLightIt';	
}

.ftr-col h5{
	margin: 0;
	padding-bottom: 15px;
	color: #a9a9a9;
    font-family: 'MerriweatherLight';
}
.adres{
	color: #3c3c3b;
}
.adres h5{
	color: #47384d;
}
.ftr-col ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.ftr-col ul li a{
	color: inherit;
}
.disciplines{
	padding-right: 35%;
}
.adres{
	padding-top: 60px;	
}


.footer-bottom{
	background:#40585f;
	position: relative;
}

.ftr-bg-handle{
	position: absolute;
	z-index: 2;
	right: 0;
	top: 0;
	width: 50%;
	height: 11px;
	background:#e83659;
}
.bg-four{
	background:#e83659;
	height: 11px;
}
.bg-four span{
	display: inline-block;
	vertical-align: baseline;
	height: 100%;
	width: 95px;
	position: absolute;
}
.bg-four{
	position: relative;
}
.bg-four span:first-child{
	background:#65a683;
	left: 0;
	top: 0;
}
.bg-four span:nth-child(2){
	background:#218878;
	left: 95px;
	top: 0;
}
.bg-four span:last-child{
	background:#47384d;
	left: 190px;
	top: 0;
}
.copy-text{
	color: #dbdbdb;
	font-size: 11.3px;
	line-height: 14px;
	padding-top: 10px;
	padding-left: 10px;
}
.copy-text strong{
    font-family: 'MerriweatherBold';
    display: inline-block;
    vertical-align: baseline;
    padding-right: 14px;	
}