/**
All heading
*/
h1,h2,h3,h4,h5,h6{
	line-height: 1;	
    font-family: 'MerriweatherRegular';
}
h1{
	font-size: 73.93px;
}
h2{
	font-size:52.85px ;
}
h3{
	font-size: 28.49px;
}
h4{
	font-size: 24px;
}
h5{
	font-size: 18px;
}
