.ftr-top{
	background-color: #e61c29;
}
.ftr-top-cntrl{
	padding: 49px 0 34px;
}
.ftr-logo{
	max-width: 496px;
	width: 100%;
}
.ftr-logo a{
	display: inline-block;
	vertical-align: baseline;
}
.ftr-logo a img{
	width: 100%;
}
.ftr-top-btm-cntrl{
	display: flex;
	padding-top: 46px;
}
.ftr-contact{
	display: flex;
	max-width: 50%;
}
.ftr-adres, .ftr-tel, .ftr-mail {
	display: flex;
}
.ftr-adres span, .ftr-tel span, .ftr-mail span,
.ftr-adres a, .ftr-tel a, .ftr-mail a,
.ftr-menu ul li a{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 15px;
	display: inline-block;
	vertical-align: baseline;
	color: #fdf0f1;
	line-height: 17px;
}
.ftr-adres span, .ftr-tel span, .ftr-mail span {
	width: 68px; 
	padding-right: 10px;
}
.ftr-col-2{
	padding-left: 127px;
}
.ftr-menu{
	max-width: 50%;
	margin-left: auto;
	display: flex;
	align-items: flex-end;
}
.ftr-menu ul{
	display: flex;
	margin: 0 -6px;
}
.ftr-menu ul li{
	padding: 0 6px;
	position: relative;
	line-height: 17px;
}
.ftr-menu ul li:not(:last-child):after{
	position: absolute;
	content: "";
	width: 2px;
	height: 13px;
	background-image: url('../images/ftr-menu-border.png');
	background-repeat: no-repeat;
	right: 0;
	top: 50%;
	margin-right: -1px;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}
/* ftr-btm */
.copyright{
	padding: 11px 0;
}
.copyright p{
	color: #6f6f6f;
	font-size: 11px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	margin-bottom: 0;
}

/* ================= */
/* == responsive == */
/* =============== */
@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	.ftr-col-2{
		padding-left: 70px;
	}
	.ftr-adres span, .ftr-tel span, .ftr-mail span, .ftr-adres a, .ftr-tel a, .ftr-mail a, .ftr-menu ul li a{
		font-size: 14px;
	}
}

@media(max-width: 991px){
	.ftr-logo{
		max-width: 465px;
	}
	.ftr-adres span, .ftr-tel span, .ftr-mail span{
		width: 50px;
	}
	
	.ftr-col-2{
		padding-left: 50px;
	}
	.ftr-menu ul li:not(:last-child):after{
		height: 10px;
		margin-top: 1px;
	}
}

@media(max-width: 900px){
	.ftr-logo{
		max-width: 365px;
	}
}
@media(max-width: 875px){
	.ftr-adres span, .ftr-tel span, .ftr-mail span, .ftr-adres a, .ftr-tel a, .ftr-mail a, .ftr-menu ul li a{
		font-size: 14px;
	}
	.ftr-col-2{
		padding-left: 30px;
	}
}

@media(max-width: 800px){
	.ftr-logo{
		max-width: 330px;
	}
}

@media(max-width: 800px){
	.ftr-adres span, .ftr-tel span, .ftr-mail span, .ftr-adres a, .ftr-tel a, .ftr-mail a, .ftr-menu ul li a{
		font-size: 13px;
	}
}

@media(max-width: 767px){
	.ftr-top-cntrl{
		padding: 28px 0 37px
	}
	.ftr-top-btm-cntrl, .ftr-contact{
		display: block;
	}
	.ftr-logo{
		max-width: 430px;
	}
	.ftr-contact{
		max-width: 100%;
	}
	.ftr-col-2{
		padding-left: 0;
	}
	.ftr-menu{
		display: none;
	}
	.ftr-adres{
		padding-bottom: 20px;
	}
	.ftr-adres span, .ftr-tel span, .ftr-mail span,
	.ftr-adres a, .ftr-tel a, .ftr-mail a,
	.ftr-menu ul li a{
		font-size: 22px;
		line-height: 1.2;
	}
	.ftr-adres span, .ftr-tel span, .ftr-mail span{
		width: 100px;
	}
	.copyright p{
		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		font-size: 17px;
	}
}

@media(max-width: 575px){

}

@media(max-width: 479px){
	.ftr-adres span, .ftr-tel span, .ftr-mail span,
	.ftr-adres a, .ftr-tel a, .ftr-mail a,
	.ftr-menu ul li a{
		font-size: 19px;
	}
	.copyright p{
		font-size: 12px;
	}
}

@media(max-width: 359px){

}