.home .page-body-cntrl .header .header-inr{
	border-bottom: none!important;
}
.home .page-body-cntrl .header{
	padding-bottom: 0;
}
.header-inr{
	padding-top: 9px;
}
.hdr-top{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	line-height: 1;
}
.hdr-mail a{
	padding-left: 19px;
	padding-right: 42px;
}
.hdr-mail a, .hdr-tel a{
	display: inline-block;
	vertical-align: baseline;
	position: relative;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #67676c;
	line-height: 1;
}
.hdr-mail a:after, .hdr-tel a:after{
	position: absolute;
	content: "";
	background-image: url('../images/mail.png');
	background-repeat: no-repeat;
	width: 14px;
	height: 9px;
	left: 0;
	top: 50%;
	margin-top: -1px;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}
.hdr-tel a{
	padding-left: 12px;
}
.hdr-tel a:after{
	width: 8px;
	height: 12px;
	background-image: url('../images/tel.png');
	margin-top: -1px;
}
.hdr-btm{
	display: flex;
	align-items: center;
	padding-bottom: 22px;
}
.hdr-lft{
	margin-top: -3px;
}
.logo{
	max-width: 500px;
	width: 100%;
}
.logo a{
	display: inline-block;
	vertical-align: baseline;
}
.logo a img{
	width: 100%;
}
.hdr-rgt{
	margin-left: auto;
	padding-top: 31px;
}
nav.main-nav > ul{
	display: flex;
	margin: 0 -14px;
}
nav.main-nav > ul > li{
	padding: 0 14px;
	line-height: 22px;
	position: relative;
}
nav.main-nav > ul > li:not(:last-child):after{
	position: absolute;
	content: "";
	width: 2px;
	height: 7px;
	background-image: url('../images/main-menu-border.png');
	background-repeat: no-repeat;
	right: 0;
	top: 50%;
	margin-top: -2.5px;
	margin-right: -1px;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}
nav.main-nav > ul > li > a{
	color: #343434;
	font-size: 19px;
	font-family: 'Catamaran', sans-serif;
	font-weight: 600;
	letter-spacing: -0.2px;
	display: inline-block;
	vertical-align: baseline;
	padding-bottom: 6px;
}

/* =============== */
/* == sub menu == */
/* ============= */
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu{
	position: absolute;
    left: -3px;
    top: 100%;
    background-color: rgba(255, 255, 255, .88);
    width: 122px;
    padding-bottom: 14px;
    border-bottom-right-radius: 4px; 
    border-bottom-left-radius: 4px;
    z-index: 10;
	-webkit-box-shadow: 0px 10px 20px -19px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 10px 20px -19px rgba(0,0,0,0.75);
	box-shadow: 0px 10px 20px -19px rgba(0,0,0,0.75);

    opacity: 0;
    transform: scale3d(1,0,1);
    -ms-transform: scale3d(1,0,1);
    -webkit-transform: scale3d(1,0,1);
    
    transform-origin: top;
    -ms-transform-origin: top;
    -webkit-transform-origin: top;
    
    transition: all .5s;
    -ms-transition: all .5s;
    -webkit-transition: all .5s;
}
nav.main-nav > ul > li.menu-item-has-children:hover > ul.sub-menu{
    opacity: 1;
    transform: scale3d(1,1,1);
    -ms-transform: scale3d(1,1,1);
    -webkit-transform: scale3d(1,1,1);    
}
nav.main-nav > ul > li.menu-item-has-children > ul.sub-menu > li{
	padding: 6px 16px;
}
nav.main-nav > ul > li.menu-item-has-children >	ul.sub-menu > li a{
	font-size: 16px;
	font-family: 'Catamaran', sans-serif;
	font-weight: 500;
	line-height: 1;
	display: inline-block;
	vertical-align: baseline;
	color: #343434;
}
/* == sub menu end == */

/*====================*/
	/*= hamburger  =*/
	/*===================*/

	.hamburger-btn{
	    width: 35px;
	    height: 28px;
	    cursor: pointer;
	    position: relative;
	    margin-left: auto;
	}
	.hamburger-btn span{
	    position: absolute;
	    content: "";
	    background: #fff;
	    width: 100%;
	    height:7px;
	    left: 0;
	    top: 0;
	    right: 0;
	}
	.hamburger-btn span:nth-child(2){
	    top: 11px;
	}
	.hamburger-btn span:nth-child(3){
	    top: 22px;
	}
	.mobile-menu, .xs-mobile-menu{
		display: none;
	}

/* ================= */
/* == responsive == */
/* =============== */

@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	nav.main-nav > ul{
		margin: 0 -10px;
	}
	nav.main-nav > ul > li{
		padding: 0 10px;
	}
	nav.main-nav > ul > li > a{
		font-size: 17px;
	}
}

@media(max-width: 991px){
	.logo{
		max-width: 465px;
	}
	.hdr-rgt{
		padding-top: 30px;
	}
	nav.main-nav > ul{
		margin: 0 -7px;
	}
	nav.main-nav > ul > li{
		padding: 0 7px;
	}
	nav.main-nav > ul > li:not(:last-child):after{
		margin-top: -2px;
	}
	nav.main-nav > ul > li > a{
		font-size: 16px;
	}
}

@media(max-width: 900px){
	.logo{
		max-width: 365px;
	}
	.hdr-rgt{
		padding-top: 20px;
	}
}

@media(max-width: 800px){
	.logo{
		max-width: 330px;
	}
	.hdr-rgt{
		padding-top: 19px;
	}
}

@media(max-width: 767px){
	.header{
		border-top: 8px solid #f1f1f1;
	}
	.header-inr{
		padding-bottom: 10px;
	}
	.hdr-top, .desktop-menu{
		display: none;
	}
	.mobile-menu{
		display: block;
	}
	.logo{
		max-width: 430px;
		margin: 0 auto;
	}

	/* mobile menu */
	.mobile-menu{
		position: relative;
	}
	.hdr-rgt{
		padding-top: 6px;
	}
	.hdr-btm{
		display: block;
		padding-top: 28px;
		padding-bottom: 0;
	}
	.resmenu, .ressocial, .resmenubar{
		display: flex;
		align-items: center; 
	}
	.hdr-lft{
		padding-bottom: 22px;
	}
	.resmenu{		
		align-items: center;
		margin: 0 -2px;
	}
	.ressocial{
		max-width: 190px;
		width: 100%;
	}
	.res{
		padding: 0 2px;
	}
	.res a{
		background-color: #e61c29;
		width: 59px;
		height: 53px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.resnavbar{
		max-width: 73%;
		width: 100%;
		margin-left: 4px;
	}
	.resmenubar{
		background-color: #185ca0;
		height: 53px;
    	display: flex;
    	align-items: center;
		padding: 0 15px;		
	}
	.menuleft span{
		font-size: 39px;
		font-family: 'Catamaran', sans-serif;
		font-weight: 800;
		color: #fff;
		line-height: 33px;
    	margin-top: 6px;
    	display: inline-block;
    	vertical-align: baseline;
	}
	.xs-mobile-menu{
		background-color: #185ca0;
		position: absolute;
		left: 0;
		right: 0;
		z-index: 11;
		top: 100%;
	}
	nav.main-nav {
    	padding-top: 40px;
    	padding-bottom: 108px;
	}
	nav.main-nav > ul > li.menu-item-has-children > ul.sub-menu > li a,
	nav.main-nav > ul > li > a{
		font-family: 'Catamaran', sans-serif;
		font-weight: 700;
		color: #fff;
		text-transform: capitalize;
		font-size: 29px;
	}
	nav.main-nav > ul > li.menu-item-has-children ul.sub-menu{
		position: initial;
        transform: initial;
        -ms-transform: initial;
        -webkit-transform: initial;
        opacity: initial;
        transition: initial;
        -ms-transition: initial;
        -webkit-transition: initial;
        transform-origin: initial;
        -webkit-box-shadow: initial;
		-moz-box-shadow: initial;
		box-shadow: initial;
        width: 100%;
        display: none;
        padding: 0;
        background: none;        
	}
	nav.main-nav > ul > li:not(:last-child):after{
		content: none;
	}
	nav.main-nav > ul{
		display: block;
		text-align: end;
		padding-right: 34px;
		margin: 0;
	}
	nav.main-nav > ul > li{
		padding: 0;
		padding-bottom: 32px;
	}
	nav.main-nav > ul > li > a{
		font-size: 39px;
		line-height: 1;
		padding-bottom: 0;
	}
	nav.main-nav > ul > li.menu-item-has-children > a{
		padding-bottom: 17px;
	}
	nav.main-nav > ul > li.menu-item-has-children > ul.sub-menu > li{
		padding: 0;
		padding-bottom: 20px;
	}
	/*== humburger ==*/
    .close-icon span:nth-child(1){
        transform: rotate(45deg);
        top: 10px;
    }
    .close-icon span:nth-child(2){
    	display: none;
        content: none;
    }
    .close-icon span:nth-child(3){        
        transform: rotate(-45deg);
        top: 10px;
    }     
    .sub-menu-active{
        color: #e61c29;
    }
}

@media(max-width: 575px){

}

@media(max-width: 479px){
	nav.main-nav > ul > li{
		padding-bottom: 20px;
	}
	.resmenu{
		justify-content: center;
		margin: 0;
	}
	.menuleft{
		display: none;
	}
	.resnavbar{
		max-width: initial;
		width: initial;
	}
	.height-1129{
		height: 525px;
	}
	.resnavbar{
		margin-left: 1px;
	}

}

@media(max-width: 359px){

}