/* ================= */
/* == banner-sec == */
/* =============== */
.banner-sec{
	padding-bottom: 20px;
	overflow: hidden;
}
.bnr-img img{
	width: 100%;
}
.desktop-bnr-cntrl{
	width:100%;
	height:485px;	
}
.bnr-video{
	position: relative;
	height: 100%;
}
.bnr-video video{
	min-height: 100%;
    min-width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    z-index: 0;
}
.mobile-bnr-cntrl{
	display: none;
	}
.has-video .bnr-img,
.bnr-video{
	display: none;
}
.has-video .bnr-video{
	display: block;
}

.breadcumbs{
	padding-bottom: 20px;
}
.breadcumbs-inner ul {
	display: flex;
	margin: 0 -9px;
}
.breadcumbs-inner ul li{
	padding: 0 9px;
	position: relative;
}
.breadcumbs-inner ul li:not(:last-child):after{
	position: absolute;
	content: "";
	background-image: url('../images/rgt-arrow.png');
	background-repeat: no-repeat;
	width: 5px;
	height: 5px;
	right: 0;
	margin-right: -2px;
	margin-top: 1px;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}
.breadcumbs-inner ul li a{
	color: #939393;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 11px;
}
.fl-home-icon {
	padding-left: 21px;
	position: relative;
}
.fl-home-icon :after{
	position: absolute;
	content: "";
	background-image: url('../images/home-ico.png');
	background-repeat: no-repeat;
	width: 12px;
	height: 12px;
	left: 0;
	margin-top: -1px;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}
.fl-home-icon span{
	display: inline-block;
	vertical-align: baseline;
}
.page-cnt-inner h2{
	margin-bottom: 28px;
}
.main-content, .page-content{
	min-height: 1425px;
	padding-bottom: 20px;
}

/* ================= */
/* == responsive == */
/* =============== */

@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){

}

@media(max-width: 991px){
	.desktop-bnr-cntrl{
		height: 380px;
	}
}

@media(max-width: 767px){
	.main-content, .page-content{
		min-height: 500px;
	}
	.desktop-bnr-cntrl{
		display: none;
	}
	.mobile-bnr-cntrl{
		display: block;
	}

	.mobile-bnr-cntrl{
		position: relative;
		height: 330px;
		display: block;
		width: 100%;
	}

}

@media(max-width: 639px){
	.mobile-bnr-cntrl{
		height: 300px;
	}
}

@media(max-width: 575px){
	.mobile-bnr-cntrl{
		height: 274px;
	}
}

@media(max-width: 479px){
	.mobile-bnr-cntrl{
		height: 200px;
	}
}

@media(max-width: 359px){
	.mobile-bnr-cntrl{
		height: 176px;
	}
}