.header-inr{
	border-bottom: 1px solid #ebebeb;
}
.header{
	padding-bottom: 23px;
}

.slick-slider ul.slick-dots{
	position: static;
	height: 16px;
	line-height: 0;
	padding: 0 20px!important;
}
.slick-slider .slick-dots li{
	width: 16px!important;
	height: 16px!important;
	position: static;
	background: #E1E1E1!important;
	border-radius: 100% 100%!important;
	margin: 0 8px;
	padding: 0!important;
}
.slick-slider .slick-dots li.slick-active{
	background: #F3BA4B!important;
}
.slick-slider .slick-dots li:before,
.slick-slider .slick-dots li button:before{
	content: none!important;
}
.slick-slider .slick-dots li button{
	padding: 0;
	width: 16px;
	height: 16px;
}


.sitemap{
	padding: 50px 0 70px;
}

.sitemap ol li a{
	color: #FF674D;
}
.sitemap ol li{
	padding-left: 25px;
}

.sitemap ol li a:focus{
	text-decoration: underline;
}
/* ===================== */
/*== pagination start ==*/
/* =================== */
.fl-pagi-cntlr{
	display: flex;
	justify-content: center;
}
.fl-pagi-cntlr ul{
	display: flex;
	background:#303037;
	margin: -1px -1px;
}
.fl-pagi-cntlr ul li{
	padding: 1px 1px;
	display: flex;
}
.fl-pagi-cntlr ul li span{
	font-weight: 500;
	font-size: 16px;
	padding: 2px;
	width: 28px;
	height: 28px;
	display: flex;
	justify-content: center;
	align-items: center;

}
.fl-pagi-cntlr ul li a,
.page-numbers.dots{
	font-weight: 500;
	font-size: 16px;
	width: 28px;
	height: 28px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	background: #1a67b0;
	padding: 2px;
}
.fl-pagi-cntlr ul li a:hover,
.fl-pagi-cntlr ul li span:hover{
	color: #303037;
	background: #fff;
}
.page-numbers.current{
	background: #fff;
}
.fl-pagi-cntlr .prev, .fl-pagi-cntlr .next{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px!important;
	border: 2px solid transparent;
}
.fl-pagi-cntlr .prev:after{
	position: absolute;
	content: "";
	background-image: url('../images/pagi-prev.png');
	background-repeat: no-repeat;
	width: 16px;
	height: 7px;
}
.fl-pagi-cntlr .next:after{
	position: absolute;
	content: "";
	background-image: url('../images/pagi-next.png');
	background-repeat: no-repeat;
	width: 16px;
	height: 7px;
}
.fl-pagi-cntlr .prev:hover,
.fl-pagi-cntlr .next:hover{
	background: #303037!important;
	/* border: 1px solid #fff; */
}
/*== pagination end ==*/